* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    height: 100dvh;
    width: 100dvw;
}

.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.flashcard-info-input {
    resize: none;
    height: 256px !important;
}

.flashcard {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("https://img.freepik.com/free-photo/metallic-background-with-grunge-scratched-effect_1048-14107.jpg");
    background-size: cover;
    background-blend-mode: color-burn;
}

.flashcard-wrapper {
    height: 256px;
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-147801.jpg");
    background-color: #c2c2c2d0;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 10px #aaaaaa;
    position: relative;
}